body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  text-decoration: none; 
}


/* For header */
.container {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* overflow: hidden; */
    position: relative;
    z-index: 10;
  }

.img {
    margin-top: 10px; 
}

span {
    font-size: small;
    color: hsl(210, 1%, 56%);
    margin: 0 5px;
    margin-right: 2em;
    padding-bottom: 5px;
}

.invite-button {
    padding: 10px 20px;
    padding-bottom: 13px;
    border-radius: 50px;
    font-size: medium;
    font-weight: 700;    
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.white {
    color: white;
}

 header .toggle {
   display: none;
} 


.toggle #crossImage {
  display: none;
}



 /* For section - 2 */

section#container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: hsl(0, 0%, 98%);
    position: relative;
    overflow-x: clip;
    /* z-index: 1; */
}

section#container-2 .item-1 {
   margin-left: 9.375em;
   margin-right: 13rem;
   max-width: 30em;
}

section#container-2 .item-1 h1 {
   font-size: 3em;
   max-width: 14em;
}

/* Newly added code */
section#container-2 .item-1 p {
  max-width: 25em;
}

 section#container-2 .image-container {
   height: 80vh; 
   /* max-width: 70vw; */
   width: 90%;
   background-image: url("images/bg-intro-desktop.svg");
   background-position: -70px -250px; 
   }  
  
section#container-2 .image-container img {
  transform: scale(1.3);
   position: absolute;
   bottom: 0; 
   left: 63em;
   top: -0.9em;
}



 /* for container-3 */

 section.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    background-color: hsl(220, 16%, 96%);
 }

 .container-3 .item-1 {
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
 }

 .container-3 .item-1 span {
    display: block;
    font-size: 1em;
    max-width: 40vw;
 }

  .container-3 .item-2 {
    display: flex;
    flex-direction: row;
    height: 30vh; 
    margin-left: 150px;
  } 

 .container-3 .item-2 span {
    display: block;
    font-size: 1em;
    max-width: 16em;
 }

 .container-3 .item-2 div {
   margin-right: 40px;
 }

 /* For section - 4 */

 section#container-4 {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 98%);
 }

 section#container-4 .item-1 {
    height: 5vh;
    margin-left: 150px;
 }

 section#container-4 .item-2 {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    height: auto;
 }

 section#container-4 .item-2 div {
   margin-right: 3em;
   background-color: hsl(0, 0%, 100%);
 }
 
 section#container-4 .item-2 span.Author {
    font-size: 0.5em;
    margin-left: 15px;
 }

 section#container-4 .item-2 span.bio {
    display: block;
    max-width: 16.5em;
    font-size: 0.7em;
    margin-left: 15px;
   }

   section#container-4 .item-2 h4 {
      max-width: 12em;
      margin-left: 15px;

      /* border: 1px solid red; */
      margin-top: 7px;
   }

   section#container-4 .item-2 img {
      width: 100%;
      height: 100%;
      max-width: 18em;
      max-height: 12em;
      margin-bottom: 1em;
   }  
   
 /* section-5 footer  */

footer#container-5 {
   height: 20vh;
   display: flex;
   justify-content: space-around; 
   align-items: center; 
   background-color: hsl(233, 26%, 24%);
}


footer#container-5 .item-1 {
   display: flex;
   justify-content: space-around;
   width: 50vw;
   align-items: center;
   text-align: center;
   margin-left: -10em;
}


footer#container-5 div span {
    display: block; 
    margin-bottom: 10px;
    color: rgb(243, 237, 237);
} 

footer#container-5 div.logos .icons {
   display: flex; 
   flex-direction: row; 
   justify-content: space-between;
   width: 10em;
   margin-top: 30px;
}

footer#container-5 .item-2 .invite-button {
   width: 10em;
   text-align: center;
   margin-left: 30px;
}


.green.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.credits {
  font-size: medium;
}

/* scroll effects */

.black span:hover {
   color: black;
}

h4:hover, .green span:hover {
   color: hsl(136, 65%, 51%);
}


#navigation span:hover {
  padding-bottom: 1em;
  border: none;
  border-bottom: 4px solid #33CB96; 
}

.green.more-info span:hover {
  color: #33CB96 !important;
}


svg:hover path {
   fill: hsl(136, 65%, 51%) !important;
}

 
 .black span:hover {
   padding-bottom: 25px;
   border-bottom: 4px solid  hsl(136, 65%, 51%);;
}


.invite-button:hover {
   cursor: pointer;
   background: linear-gradient(to right, rgba(37, 187, 153, 0.5), rgba(26, 123, 161, 0.5));
}

@media only screen and (max-width: 375px){
  
   /* For Header */
   header.container {
      display: flex;
      justify-content: space-between;
   }
   
   header .invisible {
      display: none;
   }

   header .toggle {
      display: block;
      margin-right: 1.5em;
   } 

   header img {
      margin-left: 1.5em;
   }

   #navigation-page {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    height: auto;
    /* overflow: hidden; */
    z-index: 10;
  } 
  
  #navigation {
    position: absolute;  
    top: 13.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    background-color: white;
    border-radius: 6px;
    /* overflow: hidden; */
    z-index: 10;
  }
  
  nav span {
    font-size: 1em;
     margin: 0.8em 0;
     color: black;
  }

  
   /* For container-2 */

    section#container-2 {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    section#container-2 .item-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: 2;
      width: 90%;
      margin-bottom: 4em;
      margin-top: 30em;
      margin-left: 14em;
    }

    section#container-2 .item-1 h1 {
      font-size: 2.5rem;
      /* max-width: 10em; */
    }

    section#container-2 .item-1 p {
      line-height: 1.5em;
    }


    section#container-2 .invite-button {
      width: 120px;
      /* margin-left: 6em; */
      padding: 1em;
      text-align: center;
      font-size: medium;
    }


    section#container-2 .image-container {
      margin: 0;
      height: 40vh;
      width: 100%;
      background: url("images/bg-intro-mobile.svg");
      /* max-height: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position-y: -3em; */
      margin-bottom: -30em;
    }

    section#container-2 .image-container img {
      width: 90%;
      height: auto;
      margin: 0 auto;
      position: absolute;
      top: -7em;
      left: 1.5em;
    }

    /* For Container - 3 */

    section.container-3 {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    section.container-3 .item-1 {
      margin-left: 0;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    section.container-3 .item-1 h1 {
      margin-top: 2.5em;
      font-size: 2em;
      max-width:8em;
      margin-left: 2em;
    }

    section.container-3 .item-1  span {
      font-size: medium;
    }


    section.container-3 .item-1 span, section.container-3 .item-2 span {
      line-height: 1.5em;
      display: inline-block;
      text-align: center;

      font-size: smaller;
      max-width: 90%;
    }


    section.container-3 .item-2 {
      height: auto;
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      margin-bottom: 2em;
    }

    section.container-3 .item-2 div {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 1em 0;
     margin-left: 0.5em;
    }


    /* For Container - 4 */

    section#container-4 {
      height: auto;
    }

    section#container-4 .item-1 {
      height: auto;
      margin-left: 0;
      margin-top: 3em;
      display: flex;
      justify-content: center;
    }

    section#container-4 .item-1 h2 {
      font-size: 2em;
    }


    section#container-4 .item-2{
      width: auto;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 4em;
    }

    section#container-4 .item-2 div {
      width:90%;
      margin: 1.5em 0;
    }

    section#container-4 .item-2 div img {
      max-width: 100%;
      max-height: 15em;
      border-radius: 3%;
      margin-bottom: 1em;
    }

    section#container-4 .item-2 div span.Author {
      font-size: 0.7em;
      margin-left: 2em;
    }

    section#container-4 .item-2 div h4 {
      font-size: 1.3em;
      margin-left: 1em;
      max-width: 15em;
      margin-top: 0.4em;
    }

    section#container-4 .item-2 div span.bio {
      width: auto;
      margin-left: 1.5em;
      max-width: 24em;
      font-size: 0.9em;
      margin-bottom: 2em;
      margin-top: -1em;
    }


    /* for footer */

    footer#container-5 {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: auto;
      padding: 3em 0;
    }

    footer#container-5 .item-1 {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
    }


    .green.more-info {
      justify-content: center;
      align-items: center;
    }

    footer#container-5 div.logos .icons{
      margin-bottom: 1em;
    }

}